{% extends 'base.html.twig' %}

{% block title %}Hello EmployerController!{% endblock %}

{% block body %}
<!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Browse Candidates</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Browse Candidates</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<div class="content-block">
            <div class="section-full bg-white browse-job content-inner-2">
				<div class="container">
					<div class="row">
						<div class="col-xl-9 col-lg-8">
							<ul class="post-job-bx">
							{% for emp in employees %}
								<li>
									<a href="#">
										<div class="d-flex m-b30">
											<div class="job-post-company">
												<span><img src="{{asset(emp.image)}}"/></span>
											</div>
											<div class="job-post-info">
												<h4>{{ emp.name }} | {{ emp.prof }}</h4>
												<ul>
													<li><i class="fa fa-map-marker"></i>{{ emp.address }}</li>
													<li><i class="fa fa-usd"></i> {{ emp.type.name }}</li>
													<li><i class="fa fa-clock-o"></i> Published {{emp.createdAt|date('Y-m-d H:i:s')}}</li>
												</ul>
											</div>
										</div>
										<div class="d-flex">
											<div class="job-time mr-auto">
												<span>{{ emp.comp1 }}</span>
												<span>{{ emp.comp2 }}</span>
												<span>{{ emp.comp3 }}</span>
												<span>{{ emp.comp4 }}</span>
											</div>
											<div class="salary-bx">
												<span>{{ emp.salary }}DT Per Hour</span>
											</div>
										</div>
									</a>
								</li>
								{%endfor%}
							</ul>
						<div class="pagination-bx m-t40">
							{{ knp_pagination_render(employees) }}	
						</div>
						</div>
						<div class="col-xl-3 col-lg-4">
						    {% include 'filterEmployee.html.twig' with {formS:formS} only %}
						</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- Content END-->
{% endblock %}
