{% extends 'base.html.twig' %}

{% block title %}Hello EmployerController!{% endblock %}

{% block body %}
<!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-dark" style="background-image:url('{{asset('images/banner/bnr1.jpg')}}');">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Submit Resume</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="{{path('home')}}">Home</a></li>
							<li>Submit Resume</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
		    {% for message in app.flashes('notice') %}
				<div id="flash-notice" class="flash-notice">
				{{ message }}
				</div>
			{% endfor %}
			<!-- Submit Resume -->
			<div class="section-full bg-white submit-resume content-inner-2">
				<div class="container">
					{{form_start(form1)}}
						<div class="form-group">
							<label>Your name</label>
							
							{{form_row(form1.name ,{ 'attr': {'class': 'form-control'}} )}}
							
						</div>
						<div class="form-group">
							<label>Photo</label>
								{{form_row(form1.photo,{ 'attr': {'class': 'custom-file'}} )}}
						</div>
						<div class="form-group">
							<label>Your email</label>
							{{form_row(form1.email,{ 'attr': {'class': 'form-control'}} )}}
						</div>
						<div class="form-group">
							<label>Professional title</label>
							{{form_row(form1.profession,{ 'attr': {'class': 'form-control'}} )}}
						</div>
						<div class="form-group">
							<label>Location</label>
							{{form_row(form1.location,{ 'attr': {'class': 'form-control'}} )}}
						</div>
						<div class="form-group">
							<label>Resume</label>
							{{form_row(form1.cv,{ 'attr': {'class': 'custom-file'}} )}}
						</div>
						<div class="form-group">
							<label>Minimum rate/h (DT)</label>
							{{form_row(form1.rate,{ 'attr': {'class': 'form-control'}} )}}
						</div>

						<button type="submit" class="site-button">Submit</button>
					{{form_end(form1)}}
				</div>
			</div>
            <!-- Submit Resume END -->
		</div>
    </div>
    <!-- Content END-->
{% endblock %}
