
{% extends 'adminBase.html.twig' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-4">
            <h1 class="m-0 text-dark">Companies</h1>
          </div><!-- /.col -->
          <div class="col-sm-8">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="{{path('admin')}}">Home</a></li>
              <li class="breadcrumb-item">Companies</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
<!-- Main content -->
    <section class="content">

      <!-- Default box -->
      
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">
            {% for company in company%}
            {% for role in company.roles%}
							{% if role=='ROLE_COMPANY'%}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
              <div class="card bg-light">
                <div class="card-header text-muted border-bottom-0">
                  {{company.category.name}}
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>{{company.username}}</b></h2>
                      <p class="text-muted text-sm"><b>About: </b> {{company.description}}</p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>{{company.location}}</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>{{company.phone}}</li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="{{asset(company.image)}}" alt="" class="img-rectangle img-fluid">
                    </div>
                  </div>
                </div>

                  <div class="card-footer">
                  <div class="text-right">
                   <a href="{{path('DeleteCompany',{ 'id': company.id})}}" class="btn btn-sm btn-danger">
                      <i class="fas fa-trash"></i> Delete Company
                    </a>
                  </div>
                </div>
            
              </div>
            </div> 
            {% endif%}
            {% endfor%}
            {% endfor%}
        </div>
        <!-- /.card-body -->
        <div class="navigation" style="padding-left: 40%;">
            {{ knp_pagination_render(company) }}
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% endblock %}