
{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<!-- code html de la page inscription -->
<!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle bg-pt" style="background-image:url(images/banner/bnr2.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Register</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="#">Home</a></li>
							<li>Register</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="section-full content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
					<div class="col-md-12 text-center">
						<h3 class="font-weight-700 m-t0 m-b20">Create An Account</h3>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 m-b30">
						<div class="p-a30 border-1  max-w500 m-auto" style="height:103%">
							<div class="tab-content">
							
									<h4 class="font-weight-700">PERSONAL INFORMATION</h4>
									<p class="font-weight-600">If you have an account with us, please log in.</p>
									{{ form_start(form1) }}
									<div class="form-group">
										<label class="font-weight-700">Username</label>
										{{ form_row(form1.username) }}
									</div>
									<div class="form-group">
										<label class="font-weight-700">E-mail</label>
										{{ form_row(form1.email) }}
									</div>
									<div class="form-group">
										<label class="font-weight-700">Location</label>
										{{ form_row(form1.location) }}
									</div>
									<div class="form-group">
										<label class="font-weight-700">Phone</label>
										{{ form_row(form1.phone) }}
									</div>
									<div class="form-group">
										{{ form_row(form1.roles) }}
									</div>
									<div class="form-group">
										<label class="font-weight-700">Category</label>
										{{ form_row(form1.category) }}
									</div>
									<div class="form-group">
										{{ form_row(form1.password) }}
									</div>
									<div class="form-group">
										{{ form_row(form1.image) }}
									</div>	
																
									<button class="site-button pull-left button-lg">Create</button>
								{{ form_end(form1) }}
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Product END -->
		</div>
		<!-- contact area  END -->
    </div>
    <!-- Content END-->
{% endblock %}
