<!-- partie filter de la page Brows Candidats -->
{{form_start(formS,{attr:{class:'filter'}})}}
							<div class="sticky-top">
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Keywords</h5>
									{{form_row(formS.q)}}
								</div>
					
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Job type</h5>
									{{form_row(formS.types)}}
								</div>
								<div class="clearfix">
									<h5 class="widget-title font-weight-700 text-uppercase">Category</h5>
									{{form_row(formS.categories)}}	
					        	</div>	
                                <br>
                                <div class="clearfix">
									<h5 class="widget-title font-weight-700 text-uppercase">Salary Per Hour</h5>
									<div class="row">
                                            {{form_row(formS.min)}}  
                                            {{form_row(formS.max)}}
									</div>
								</div>
                                
									{{form_row(formS.filter)}}
							
                            </div>
{{form_end(formS)}}