
<!-- partie filter de la page Browse Jobs -->
{{form_start(formS,{attr:{class:'filter'}})}}
							<div class="sticky-top">
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Keywords</h5>
									{{form_row(formS.q)}}
								</div>
					
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Job type</h5>
									{{form_widget(formS.types)}}
								</div>
								<div class="clearfix">
									<h5 class="widget-title font-weight-700 text-uppercase">Category</h5>
									{{form_row(formS.categories)}}	
					        	</div>	
                               
									{{ form_row(formS.subscribe) }}
							
                            </div>
{{form_end(formS)}}