


{% extends 'base.html.twig' %}

{% block title %}Hello EmployerController!{% endblock %}

{% block body %}
<!-- code html de la page qui affiche tous les sociétés inscrites au site  -->
<!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/bnr1.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Companies</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a href="{{path('home')}}">Home</a></li>
							<li>Companies</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="content-block">
            <div class="section-full bg-white browse-job content-inner-2">
				<div class="container">
					<div class="row">
						<div class="col-xl-9 col-lg-8">
							<ul class="post-job-bx">
							{% for company in companies %}
								{% for role in company.roles%}
										{% if role=='ROLE_COMPANY'%}
								<li>
									<a href="#">
										<div class="d-flex m-b30">
											<div class="job-post-company" style="width: 300px;">
												<span style="width: 200px;height: 200px;"><img style="height: 100%;" src="{{asset(company.image)}}"/></span>
											</div>
											
											<div class="job-post-info">
												<h4>{{ company.username }}</h4>
												<ul>
													<li><i class="fa fa-map-marker"></i>{{ company.location }}</li>
													<li><i class="fa fa-cogs"></i>{{company.category.name}}</li>
													<li><i class="fa fa-phone"></i>{{ company.phone }}</li>
												</ul>
												<br>
												<h6 style="font-weight:200;font-size:18px"> {{ company.description }} </h6>
											</div>
										</div>
										
									</a>

								</li>
								{%endif%}
								{%endfor%}
								{%endfor%}
							</ul>
							
						<div class="pagination-bx m-t40">
							{{ knp_pagination_render(companies) }}	
						</div>
						</div>
						<div class="col-xl-3 col-lg-4">
						{% include 'filterCompany.html.twig' with {formS:formS} only %}
						</div>
						
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- Content END-->
	{% endblock %}

